*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-1: #134686;
  --color-2: #ed3f27;
  --color-3: #feb21a;
  --color-4: #fdf4e3;
  --color-5: #2b2a2a;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: var(--color-4);
  color: var(--color-5);
}

header.header-logo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 1rem 4rem;
  background-color: var(--color-4);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  inset: 0;
  z-index: 9999;
}

header .logo p {
  font-weight: 800;
  font-size: 1.5rem;
  color: var(--color-1);
}

header nav ul {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  padding: 0.5rem 1rem;
  border-radius: 999px;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
  color: var(--color-1);
}

header nav ul li a:hover {
  background-color: var(--color-1);
  color: var(--color-4);
}

main .hero {
  height: calc(100vh - 4rem);
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-inline: 5rem;
}

main .hero h1 {
  color: var(--color-1);
  font-weight: 700;
  font-size: 2.5rem;
  letter-spacing: 3px;
  text-shadow: 0 0 1px black;
  margin-block-end: 1.5rem;
}

main .hero .description {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5;
  margin-block-end: 2rem;
}

main .hero .description span {
  font-weight: 800;
  color: var(--color-1);
}

main .hero .scroll {
  color: var(--color-1);
  font-weight: 300;
  font-size: 0.9rem;
}

.hero-image img {
  max-width: 250px;
  border-radius: 50%;
}

#projects {
  padding-block-end: 3rem;
}

#projects h2 {
  color: var(--color-1);
  text-align: center;
  font-size: 2.5rem;
  margin-block-end: 4rem;
}

.project-tile {
  width: 80%;
  margin: 3rem auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

.project-card {
  border: 1px solid black;
  background-color: var(--color-2);
  display: flex;
  width: 43%;
  max-width: 700px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease;
}

.project-card:hover {
  box-shadow: 0px 0px 10px black;
}

.project-img {
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.project-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}

.project-title {
  width: 100%;
  text-align: center;
  padding-block: 1rem;
  font-size: 1.2rem;
  border-top: 5px solid var(--color-1);
}

.project-title code {
  color: var(--color-3);
  opacity: 0;
  transition: all 0.3s ease;
}

.project-card:hover .project-title code {
  opacity: 1;
}

.project-title a {
  color: var(--color-4);
  text-decoration: none;
}

.main-container {
  display: flex;
  max-width: 1200px;
  margin-inline: auto;
  gap: 2rem;
  padding-inline: 5rem;
  align-items: flex-start;
}

.content-left {
  flex: 2;
}

.profile-sidebar {
  flex: 1;
  margin-block-end: 5rem;
}

#about-me {
  margin-inline: auto;
  margin-block-end: 7rem;
}

#about-me h2 {
  font-size: 2rem;
  margin-block-end: 2rem;
  color: var(--color-1);
  font-weight: 700;
  letter-spacing: 1px;
  text-shadow: 0 0 1px black;
}

#about-me p {
  margin-block-end: 1.5rem;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.5;
}

#about-me p span {
  color: var(--color-1);
  font-weight: 800;
}

#about-me p span.hobby {
  color: var(--color-2);
}

#about-me p span.trivia {
  font-weight: 100;
  color: rgba(8, 7, 7, 0.5);
  font-family: "Edu SA Beginner", cursive;
}

#contact {
  color: var(--color-1);
  width: 100%;
  padding-block-end: 5rem;
}

#contact h2 {
  font-size: 2rem;
  margin-block-end: 2rem;
}

#contact p {
  font-size: 1.2rem;
  margin-block-end: 2rem;
  font-style: italic;
}

.social ul {
  display: flex;
  justify-content: start;
  align-items: center;
}

.social ul li {
  list-style-type: none;
  transition: all 0.5s ease;
}

.social ul li a {
  text-decoration: none;
  color: var(--color-2);
  font-size: 1.25rem;
  margin-inline-end: 2.5rem;
  transition: all 0.3s ease;
  border-radius: 999px;
  padding-block: 1rem;
}

.social ul li a i {
  margin-inline-end: 1rem;
}

.social ul li a:hover {
  color: var(--color-1);
}

.profile-card {
  background-color: var(--color-2);
  color: var(--color-4);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.card-header {
  display: flex;
  flex-flow: column nowrap;
}

.card-header h3 {
  text-align: center;
  color: var(--color-4);
  margin-bottom: 1rem;
}

.profile-figure {
  text-align: center;
}

.profile-figure img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 4px solid var(--color-1);
  object-fit: cover;
  margin-bottom: 0.5rem;
}

.profile-figure figcaption {
  font-weight: 700;
  font-size: 1.1rem;
}

.bio-info h4 {
  margin-block: 1.5rem 1rem;
  border-bottom: 1px solid var(--color-4);
  padding-bottom: 0.3rem;
  color: var(--color-1);
}

.bio-info dl dt {
  font-weight: 700;
  font-size: 0.85rem;
  color: var(--color-1);
  margin-block-start: 0.8rem;
}

.bio-info dl dd {
  font-size: 1rem;
  margin-block-end: 0.5rem;
}

footer {
  background-color: var(--color-2);
  padding: 4rem 2rem;
  text-align: center;
  color: var(--color-4);
}

footer p {
  font-size: 1.05rem;
}

footer p a {
  text-decoration: none;
  color: var(--color-4);
  font-weight: 800;
  transition: all 0.3s ease;
}

footer p a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  html {
    scroll-padding-top: 7rem;
  }

  header.header-logo {
    gap: 1rem;
    padding: 1rem 0;
    flex-direction: column;
    align-items: center;
  }

  main .hero {
    height: 100vh;
    flex-direction: column;
    text-align: center;
    padding: 2rem 1.5rem;
  }

  main .hero .hero-image {
    order: -1;
  }

  main .hero .hero-image img {
    max-width: 200px;
  }

  main .hero h1 {
    font-size: 2rem;
    margin-block-end: 1rem;
    letter-spacing: 2px;
  }

  main .hero .description {
    font-size: 1.1rem;
  }

  #projects {
    padding-block-end: 2rem;
  }

  #projects h2 {
    font-size: 1.8rem;
    margin: 2rem 1.5rem;
  }

  .project-tile {
    width: 90%;
    gap: 3rem;
  }

  .project-card {
    width: 100%;
  }

  .main-container {
    flex-direction: column;
    padding-inline: 1.5rem;
    gap: 0;
  }

  .content-left {
    width: 100%;
  }

  .profile-sidebar {
    width: 100%;
    display: block;
    margin-block-end: 3rem;
  }

  #about-me {
    margin-block-end: 2rem;
  }

  #about-me h2 {
    font-size: 1.8rem;
    text-align: center;
  }

  #about-me p {
    font-size: 1rem;
    margin-block-end: 1rem;
  }

  #contact h2 {
    font-size: 1.8rem;
    text-align: center;
  }

  #contact p {
    font-size: 1rem;
    text-align: center;
  }

  .social ul {
    justify-content: center;
  }

  .social ul li a {
    margin-inline: 0.5rem;
    font-size: 1rem;
  }

  footer p {
    line-height: 1.5;
    font-size: 1rem;
  }
}
